.modal
  = link_to 'X', '#', class: 'modal-close'

  .modal-backdrop

  .modal-content

    %h3.modal-title Keyboard Shortcuts

    %ul.modal-list.tsxl
      %li
        %code H
        %span Go to the first slide
      %li
        %code L
        %span Go to the last slide
      %li
        %code J
        %span Go to the next slide
      %li
        %code K
        %span Go to the previous slide
      %li
        %code ?
        %span Bring up this window
